@use "../global" as g;


.main {
  width: 100vw;
  height: auto;

  &__inner {
    width: 100vw;
    height: auto;
  }
}

#{g.$prefix_mod} {
  &Kv {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 705px;

    @media (max-width: 768px) {
      height: 928px;
    }

    @media (max-width: 600px) {
      height: 900px;
    }

    @media (max-width: 450px) {
      height: 840px;
    }

    // @include g.media_queries{
    //   height: 780px;
    // }
    // &__bg{
    //   width: 100vw;
    //   display: flex;
    //   flex-direction: row;
    //   gap: 0;
    //   z-index: -15;
    //   position: absolute;

    //   &__side1{
    //     background-color: #fff;
    //     width: 17%;
    //     background-size: cover;
    //     display: flex;
    //     @include g.media_queries{
    //       width: 60%;
    //     }
    //   }

    //   &__side2{
    //     display: flex;
    //     width: 83%;
    //     height: 480px;
    //     background: linear-gradient(to right, #009bfa, #3a55fa);
    //     display: flex;
    //     flex-direction: column;
    //     position: relative;
    //     @include g.media_queries{
    //       width: 40%;
    //     }

    //     .dot{
    //       width: 100%;
    //       height: 80%;
    //       background-image: radial-gradient(#ffffff18 10%, transparent 5%);
    //       background-size: 25px 25px;
    //       background-repeat: space;
    //     }
    //     .white{
    //       width: 100%;
    //       height: 20%;
    //       background-color: #fff;
    //       margin: 40px;
    //     }
    //   }
    // }

    &__content {
      display: flex;
      width: 100%;
      padding: 0 30px 0 0;
      max-width: 1440px;
      margin: 0 auto;
      position: relative;

      &::after {
        content: "";
        display: flex;
        width: 100%;
        height: 480px;
        background-image: url("/assets/img/top/kv_bg_blue.png");
        display: flex;
        left: 300px;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;

        @include g.media_queries {
          width: 100%;
          left: 55%;
        }
      }

      .bgImg {
        position: absolute;
        width: 79vw;
        height: 600px;
        border-radius: 0 10px 10px 0;
        overflow: hidden;
        top: 100px;
        right: 64px;
        background-size: cover;
        
        @media (max-width: 900px) {
          height: 405px;
        }

        @media (max-width: 1000px) {
          height: 443px;
        }

        @media (max-width: 1100px) {
          height: 480px;
        }

        @include g.media_queries {
          width: 95%;
          height: 600px;
          border-radius: 10px 0 0 10px;
          right: 0;
        }

        &__bg {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          z-index: 1;
          object-fit: cover;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &__img {
          width: 93%;
          height: 62%;
          top: 0;
          right: 0;
          position: absolute;
          z-index: 2;
          object-fit: cover;

          img {
            width: 100%;
            height: 100%;
          }

          @include g.media_queries {
            width: 100%;
            top: 60px;
          }
        }
      }

      .bgVector {
        display: block;
        position: absolute;
        top: 170px;
        right: 32px;

        width: 45%;
        height: auto;
        z-index: 3;

        img {
          width: 100%;
          height: auto;
        }

        @media (min-width: 620px) and (max-width: 768px) {
          top: 230px;
          left: 10px;
          width: 50%;
        }

        @include g.media_queries {
          top: 265px;
          left: 10px;
          width: 70%;
        }
      }

      &__box {
        position: absolute;
        width: 65%;
        height: 500px;
        left: 0;
        top: 100px;
        z-index: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include g.media_queries {
          flex-direction: column;
          width: 100%;
          top: 160px;
        }

        .title {
          position: absolute;
          top: 80px;
          left: 155px;
          z-index: 6;
          width: 53%;
          height: 200px;

          display: flex;
          flex-direction: column;


          @media (min-width:951px) and (max-width: 1100px) {
            scale: 0.8;
            left: 100px;
          }

          @media (min-width:769px) and (max-width: 950px) {
            scale: 0.6;
            left: 100px;
          }

          @include g.media_queries {
            top: -20px;
            left: 17%;
            width: 100%;
          }

          &__text {
            font-size: 86px;
            font-family: g.$fontface_jost;
            text-wrap: nowrap;
            font-weight: 700;
            line-height: 0.97;
            letter-spacing: -0.095em;

            @include g.media_queries {
              font-size: 51.5px;
            }

            span {
              font-size: 110px;
              font-weight: 700;

              @include g.media_queries {
                font-size: 66px;
              }
            }
          }

          &__description {
            text-wrap: nowrap;
            font-size: 46px;
            font-weight: 700;
            margin: 0 0 0 7px;
            letter-spacing: -0.03em;
            z-index: 6;

            @include g.media_queries {
              font-size: 27px;
            }

            span {
              font-size: 32px;

              @include g.media_queries {
                font-size: 20px;
              }
            }

            &::after {
              content: "";
              background-color: #ffe400;
              width: 300px;
              height: 20px;
              z-index: -1;
              background-repeat: no-repeat;
              background-size: contain;
              position: absolute;
              left: 7px;
              bottom: 30px;

              @include g.media_queries {
                width: 185px;
                top: 90px;
              }
            }
          }
        }

        .rate {
          position: absolute;
          top: 82px;
          right: 149px;
          background-color: #0f6efa;
          z-index: 5;
          width: 159px;
          height: 159px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include g.media_queries(tablet) {
            right: 55px;
          }

          @media (max-width: 1100px) {
            right: -35px;
          }

          @media (max-width: 1380px) {
            right: 120px;
          }

          @media (max-width: 1250px) {
            right: 48px;
          }

          @media (min-width:951px) and (max-width: 1100px) {
            scale: 0.8;
            right: 0px;
          }

          @media (min-width:769px) and (max-width: 950px) {
            scale: 0.6;
            right: 0px;
          }

          @include g.media_queries {
            top: 210px;
            right: 20px;
            width: 100px;
            height: 100px;
          }

          span {
            font-size: 13px;

            @include g.media_queries {
              font-size: 12px;
            }
          }

          strong {
            font-size: 65px;
            font-family: g.$fontface_jost;
            font-weight: 700;
            font-style: italic;
            line-height: 1;

            @include g.media_queries {
              font-size: 20px;
            }

            .rate__percent {
              font-size: 36px;
              font-family: g.$fontface_jost;
              font-weight: 700;
              font-style: italic;

              @include g.media_queries {
                font-size: 20px;
              }
            }
          }

          p {
            font-size: 20px;

            @include g.media_queries {
              font-size: 16px;
            }
          }
        }

        .box {
          position: absolute;
          bottom: 10px;
          left: 136px;
          z-index: 6;
          width: 62.5%;
          height: 212px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
          background-color: #fff;

          @media (max-width: 1100px) {
            width: 85%;
          }

          @include g.media_queries {
            top: 320px;
            left: 10%;
            z-index: 6;
            width: 80%;
            height: fit-content;
          }

          &__title {
            background: linear-gradient(to right, #009bfa, #3a55fa);
            width: 100%;
            height: 50px;
            font-size: 20px;
            text-align: center;
            font-weight: 700;
            padding: 5px 0;
            color: #fff;

            @include g.media_queries {
              height: auto;
              font-size: 16px;
              padding: 10px 0;
            }
          }

          &__content {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            gap: 20px;

            @include g.media_queries {
              flex-direction: column;
              padding: 20px;
            }

            &__img {
              display: flex;
              width: calc((100% - 20px) * 0.55);
              align-items: center;
              justify-content: end;
              height: 100%;

              img {
                width: 90%;
                height: auto;
              }

              @include g.media_queries {
                width: 100%;

                img {
                  width: 100%;
                }
              }
            }

            &__textBox {
              display: flex;
              position: relative;
              width: calc((100% - 20px) / 2);
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0 30px 0 0;
              height: 100%;

              @include g.media_queries {
                width: 100%;
                padding: 0;
              }

              .head {
                display: flex;
                flex-direction: row;
                width: 100%;

                &__text {
                  font-size: 18px;
                  display: flex;
                  flex-direction: row;
                  gap: 0;
                  align-items: center;
                  font-weight: 700;
                  text-wrap: nowrap;

                  @include g.media_queries {
                    width: 100%;
                    justify-content: center;
                  }

                  span {
                    color: var(--orange);
                    font-weight: 700;
                    font-size: 18px;
                  }

                  strong {
                    color: var(--orange);
                    font-weight: 700;
                    font-size: 30px;
                    font-style: italic;
                    font-family: g.$fontface_jost;
                  }
                }
              }

              .modBtn {
                margin: 2px 12px 10px 0;
                height: 35px;
              }

              .note {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  &Section {
    width: 100%;
    position: relative;
    margin: 70px auto 0px auto;

    &__inner {
      width: 100%;
      max-width: 1440px;
      padding: 113px 160px;
      margin: 0 auto;

      @include g.media_queries {
        padding: 60px 20px;
      }
    }

    &--bg {
      &Light {
        background-color: var(--light);
      }

      &Blue {
        background-color: var(--blue);
      }
    }

    &--faq {
      margin: -5px auto 0 auto !important;
    }

    &--exam {
      margin: 0 auto;
      background-color: var(--blue);

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: -1px;
        left: 46%;
        border-top: 40px solid var(--light);
        border-right: 60px solid rgba(0, 0, 0, 0);
        border-left: 60px solid rgba(0, 0, 0, 0);

        @include g.media_queries {
          left: 40%;
          border-top: 20px solid var(--light);
          border-right: 35px solid rgba(0, 0, 0, 0);
          border-left: 35px solid rgba(0, 0, 0, 0);
        }
      }

      .modSection__inner {
        background-color: var(--blue);
        margin: 0 auto;
        padding: 106px 40px 60px 40px;

        @include g.media_queries {
          padding: 50px 20px 30px 20px;
        }

        .title {
          z-index: 5;
          border: 1px solid #fff;
          border-radius: 5px;
          width: 100%;
          margin: 0px auto 90px auto;
          padding: 38px 0;

          @include g.media_queries {
            padding: 10px 0;
          }

          .modHeading02 {
            margin: 0 auto;
            color: #fff;
            letter-spacing: -0.08em;

            span {
              display: inline-block;
            }
          }
        }
      }
    }

    &--flow {
      margin: 130px auto 0px auto;
    }

    &--material {
      display: flex;
      flex-direction: column;
      background-color: var(--light);
      width: 100vw;
      margin: 0px auto 0px auto;

      .modSection__inner {
        padding: 113px 160px 44px 160px;

        @include g.media_queries {
          padding: 60px 20px;
        }
      }

      // .modHeading03{
      //   &--underline{
      //     &::after{
      //       margin: 108px 0 50px 0;
      //     }
      //   }
      // }

      .modText {
        margin: 80px 0 50px 0;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .table {
        display: flex;
        width: 80%;
        height: auto;
        margin: 30px auto 55px auto;
        flex-direction: row;
        gap: 120px;

        @include g.media_queries {
          flex-direction: column;
        }

        &__img1 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc((100% - 120px) / 2);
          height: auto;
          position: relative;

          @include g.media_queries {
            width: 100%;
          }

          img {
            width: 100%;
            height: auto;
          }

          &::after {
            content: "";
            background-image: url("/assets/img/top/arrow_icon.png");
            background-size: contain;
            width: 30px;
            height: 30px;
            right: -80px;
            background-repeat: no-repeat;
            position: absolute;
            margin: -25px 0 0 0;

            @include g.media_queries {
              right: 45%;
              background-repeat: no-repeat;
              bottom: -80px;
              transform: rotate(90deg);
            }
          }
        }

        &__img2 {
          display: block;
          width: calc((100% - 120px) / 2);
          height: auto;

          @include g.media_queries {
            width: 100%;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.headContent {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &__2col {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 40px;

    @include g.media_queries {
      flex-direction: column;
    }

    &__img {
      display: block;
      width: calc((100% - 40px) * 0.48);
      height: auto;

      @include g.media_queries {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__textBox {
      display: flex;
      width: calc((100% - 40px) * 0.52);
      height: auto;
      flex-direction: column;
      margin: 35px 0 0 0px;

      @include g.media_queries {
        width: 100%;
      }

      .modText {
        margin: 13px 0 0 0;
      }
    }

    &::after {
      content: "";
      background-image: url("/assets/img/top/glider.png");
      width: 450px;
      height: 325px;
      right: -70px;
      top: -35px;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;

      @include g.media_queries {
        width: 150px;
        height: 150px;
        right: 0px;
        top: -9px;
      }
    }
  }
}

.exam {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--white);
  align-items: center;

  &__heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 77px;
    background-image: url("/assets/img/top/exam_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid var(--light);

    @include g.media_queries {
      flex-direction: column;
      gap: 0px;
    }


    &__vector {
      width: calc((100% - 77px) * 0.39);
      height: auto;
      justify-content: end;
      display: flex;
      padding: 15px 0 0 0;

      img {
        width: 80%;
        height: auto;
      }

      @include g.media_queries {
        order: 2;
        width: 100%;
        justify-content: center;
      }
    }

    &__title {
      width: calc((100% - 77px) * 0.61);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include g.media_queries {
        order: 1;
        width: 100%;
        padding: 0 20px;
      }

      .chat {
        width: fit-content;
        background-image: url("/assets/img/top/exam_heading_chat.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 57px;
        color: var(--white);
        font-size: 28px;
        font-weight: 700;
        padding: 5px 10px 0px 10px;
        letter-spacing: -0.13em;
        margin: 27px 0 0 0;

        @include g.media_queries {
          font-size: 16px;
          width: 100%;
          text-align: center;
          height: 40px;
        }
      }

      .hours {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
        font-size: 75.4px;
        font-weight: 700;
        font-family: g.$fontface_jost;
        color: var(--blue);

        @include g.media_queries {
          font-size: 40px;
          text-wrap: nowrap;
          gap: 8px;
        }

        figure {
          width: 20px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include g.media_queries {
            width: 40px;
          }

          img {
            width: 80%;
            height: auto;

            @include g.media_queries {
              width: 100%;
            }
          }
        }

        span {
          font-size: 48px;
          font-family: g.$fontface_default;
          color: var(--blue);

          @include g.media_queries {
            font-size: 27px;
          }
        }
      }

      .text {
        font-size: 48px;
        color: var(--blue);

        @include g.media_queries {
          font-size: 27px;
          text-align: center;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    &__heading {
      position: relative;
    }

    .modHeading03 {
      margin: 104px 0 80px 0;
    }

    &__inner {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;


      &--content1 {
        margin: 0 0 80px 0;

        &::before {
          content: "";
          background-image: url("/assets/img/top/content_bg1.png");
          background-size: cover;
          background-repeat: no-repeat;
          width: 50%;
          height: 500px;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;

          @include g.media_queries {
            width: 100%;
            height: 100%;
            background-size: contain;
          }
        }

        .exam_content_img {
          margin: 46px 0 0 0;
          width: 82%;
          height: auto;
          z-index: 2;

          @include g.media_queries {
            width: 90%;
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        .modHeading03 {
          margin: 104px 0 86px 0;

          @include g.media_queries {
            margin: 40px 0 120px 0;
          }
        }

        .modText {
          padding: 0 20px;
          text-align: justify;
        }
      }

      &--content2 {
        margin: 0 0 120px 0;

        @include g.media_queries {
          margin: 0 0 60px 0;
        }

        &::before {
          content: "";
          background-image: url("/assets/img/top/content_bg2.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 50%;
          height: 500px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .modHeading03 {
          margin: 63px 0 95px 0;

          // &--underline{
          //   &::after{
          //     bottom: -40px;
          //   }
          // }
        }
      }
    }
  }
}