//文字コードはutf-8
@charset "UTF-8";

@use "../global" as g;

//タイトル
#{g.$prefix_mod} {
  &Heading {
    &02 {
      font-size: 38px;
      text-align: center;
      font-weight: 700;
      margin: 0 auto;

      @include g.media_queries {
        font-size: 25px;
      }

      &--iconKey {
        &::before {
          content: "";
          background-image: url("/assets/img/top/key.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 200px;
          height: 200px;
          position: absolute;
          bottom: -65px;
          left: 190px;
          z-index: -1;

          @include g.media_queries {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: -70px;
            left: 10px;
            z-index: -1;
          }
        }
      }

      span {
        display: block;
        font-size: 24px;
        font-weight: 700;
      }
    }

    &03 {
      font-size: 34px;
      font-weight: 700;
      z-index: 1;

      @include g.media_queries {
        font-size: 25px;
        text-align: center;
      }

      &--text {
        &Blue {
          color: var(--blue);
        }
      }

      &--message {
        z-index: 6;
        font-size: 30px;
        text-align: center;
        color: var(--blue);
        position: relative;
        letter-spacing: -0.04em;

        &::before {
          content: "みんなの お悩み";
          position: absolute;
          left: -115px;
          top: -50px;
          z-index: -1;
          background-image: url("/assets/img/top/chat_bubble.png");
          background-repeat: no-repeat;
          background-size: contain;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 80px;
          color: #fff;
          text-align: center;
          font-size: 20px;
          padding: 7px;

          @include g.media_queries {
            left: -58px;
            top: -50px;
            width: 65px;
            height: 55px;
            font-size: 12px;
          }
        }
      }

      &--underline {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;


        @include g.media_queries {
          display: inline-flex;
          width: 100%;
        }

        &::after {
          content: "";
          background-color: var(--blue);
          width: 100px;
          height: 5px;
          bottom: -40px;
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;

          @include g.media_queries {
            margin: 0;
            bottom: -50px;
          }

        }

        strong {
          font-size: 42px;
          font-family: g.$fontface_jost;
          font-weight: 700;
        }
      }

      span {
        display: block;
        width: 100%;
        font-size: 24px;
        text-align: center;

        @include g.media_queries {
          font-size: 12px;
        }
      }
    }

    &04 {
      font-size: 20px;
      color: var(--blue);
      font-weight: 700;

      &--center {
        text-align: center;
      }
    }
  }
}