//文字コードはutf-8
@charset "UTF-8";

@use "../global" as g;

/* テキスト
========================================================*/
#{g.$prefix_mod}{
  &Text{
    font-size: 14px;
    text-align: justify;
    line-height: 2em;
    z-index: 1;

    span{
      display: inline-block;
      color: var(--blue);
    }
  }
}